*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: content-box;
    
}
.hero{
    height: 100vh;
    width: 100%;
    background-color: black;
    background-image: url('portfolio-pic.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
.logo{
    color: rgb(3, 158, 248);
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
span{
    color: lightgray;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 30px;
}
nav ul li a{
    color: rgb(3, 158, 248) ;
    font-size: 20px;
    text-decoration: underline;
}
nav ul li a:hover{
    color: lightblue;
    transition: 4s;
}
.content{
position: absolute;
top: 50%;
left: 8%;
transform: translateY(-50%);    
}
h1{
 color: rgb(3, 158, 248);
 margin: 20 px 0px 20px;
 font-size: 70px;   
}
h3{
color: white;
font-size: 25px;
margin-bottom: 50px;    
}
h4{
    color:white;
    font-size: 20px;
    letter-spacing: 2px;
}
.share{
    position: absolute;
    top: 90%;
    left: 8%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.share p{
    font-size: 20px;
    color: rgb(3, 158, 248);
    margin-right: 20px;
}
.share .social a{
   display: inline-block;
   color: rgb(3, 158, 248);
   margin-right: 15px;
   transition: .3s;
}
.share .social a:hover{
   transform: scale(1.6) ; 
}
.social{
    size: 35Spx;
}